@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .text_box--price .inputs
        width: 200px
    .product_wrap.product_main
        .prod_top
            .main_photo
                height: 270px
                padding: 10% 5%
    .product_wrap--slide .thumb_photos .thumb_item
        width: 130px!important;
    .product_wrap .prod_top
        margin-bottom: 82px
        .text_box
            padding-top: 20px
    
    .product_wrap--slide
        .photo_box
            a.more3d
                white-space: nowrap
            .main_photo--wrapper
                padding: 10%
                max-height: 421px
                width: 70%
                display: flex;
                align-items: center;
            .thumb_photos
                width: 30%  
            .thumb_item
                height: 130px !important


    footer .f_top .f_top--feedback
        margin-top: 16px
    footer .f_top .f_top--cards .cards_wrap
        margin-left: 0
    footer .f_top .f_top--menu ul+ul
        margin-left: 45px
    footer .f_top .f_top--menu
        margin-left: 0
    
    .article_slider .slick-slide
        margin: 0 34px


    section.main_section.main_screen .main_text .title
        font-size: 48px
    section.main_section.main_screen .main_text small
        font-size: 20px
    .top_slider .top_slider--item
        // padding-bottom: 110px
        margin-bottom: 110px
    .top_slider .slick-arrow
        bottom: 30px


    .text_row.text_row--inverse .data-img span
        display: block
        img
            display: block
            margin-left: auto
            margin-right: auto
     
    .topSlider .topSlider_item p
        font-size: 16px
   
@media (max-width: 1190px)
    .text_box .text_box--price
        flex-wrap: wrap
    .text_box--price .btns
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        margin-top: 15px
        .count
            margin-bottom: 0
            &>span
                margin-right: 20px
    .text_row
        &>div.data-text, div.data-img
            width: 100%
        div.data-img
            text-align: center
            margin-left: auto
            margin-right: auto
        &.text_row--inverse
            div.data-img
                order: -1  
    .steps_wrap .step_item
        width: initial
    .steps_wrap .step_item small
        font-size: 14px
        height: 63px
        overflow: hidden
    .steps_wrap .step_item p
        font-size: 20px
    .steps_wrap .step_item.step_item_top::after
        bottom: -94px
    .steps_wrap .step_item.step_item_top::before
        bottom: -62px
    .steps_wrap .step_item.step_item_bottom::after
        top: -128px
    .steps_wrap .step_item.step_item_bottom::before
        top: -96px


    .top_slider.shadow-img::after
        top: 20%
    section.main_section.main_screen .main_text
        padding-top: 0
    section.main_section.main_screen .main_text .title
        font-size: 40px
    section.main_section.main_screen .main_text small
        font-size: 18px
    section.main_section.main_screen
        height: 570px
    section.main_section.main_screen .main_text a.btn
        font-size: 16px

    section.main_section.proposition
        padding-top: 170px
    .steps_wrap
        margin-bottom: 70px
    section.main_section.howWork_section::after
        bottom: -40px
// ≥992px
+media-breakpoint-down(md)
    
    .about_content
        .text_row:not(.text_row--inverse) div.data-text
            padding-left: 0
        .text_row.text_row--inverse div.data-text
            padding-right: 0
    .steps_wrap .step_item p
        font-size: 17px
        height: 27px
        overflow: hidden
    section.main_section.reviews_section .photo_slider .photo_slider-item:hover img
        zoom: 1
        margin-left: 0
        margin-top: 0
        max-width: 100%
    section.main_section.reviews_section .photo_slider .photo_slider-item:hover::after
        width: 40px
        height: 40px
        background-size: 50%
        margin-bottom: 0
    .top_slider
        height: 100%
        display: flex
        align-items: center
    .top_slider .slick-arrow
        bottom: 50px
    .top_slider .top_slider--item
        // padding-bottom: 50px
        margin-bottom: 50px
        .gallery_item--video a::before
            background-size: 70px 70px
    .top_slider .top_slider--item .shadow-img::after
        top: 27%
    section.main_section.main_screen
        height: 520px
    section.main_section.main_screen .main_text .title
        font-size: 30px
    section.main_section.main_screen .main_text small
        font-size: 16px
    section.main_section.main_screen .main_text a.btn
        padding: 15px 34px
        max-width: 225px
        font-size: 14px
    
    #map
        min-height: 340px
    .gallery_slider .gallery_item a
        height: 245px
    .gallery_slider .gallery_item.shadow-img::after
        top: 14%
    section.main_section
        &::before, &::after
            max-width: 100% !important
            
    
        
    section.main_section.article_list
        padding-top: 60px
    .product_wrap.product_main .photo_box .main_photo
        margin-left: auto
        margin-right: auto
        padding: 58px 56px
        margin-bottom: 22px
    .product_wrap
        background-size: 190px 260px 
        background-position: 122% 143px
    .reviews_item
        padding: 0 22px 39px
    article::before
        content: none
    .text_row
        margin-bottom: 36px
    
    article .text .text_row
        display: block
    article .text .text_row .data-img
        width: 100%
    article .text .text_row div.data-text
        width: 100%
        padding-left: 0   
        margin-top: 36px 

    .subscribe_from
        width: 232px
        margin-left: auto
        margin-right: auto
    .subscribe_from input
        width: 100%
        margin-bottom: 22px
        height: 32px
        font-size: 12px
        &::placeholder
            font-size: 12px
    .consultation .btn
        font-size: 12px
        padding: 9px 38px
    .consultation
        padding-top: 11px
        padding-bottom: 54px
        background-size: contain;
        background-position: bottom;
        &.empty_basket
            padding-bottom: 123px
            background-position: bottom center;
            background-size: 296px 190px
            .icon
                margin-bottom: 20px
    .consultation .subtitle
        font-size: 12px
        margin: 16px 0 22px
    .consultation .title
        line-height: 1
    input.input-email
        background: #fff url(../img/icon-mail.svg) no-repeat 13px 10px
        

    .topSlider .slick-arrow
        display: none !important
    .contacts_data
        margin-top: 42px
    .no-relative
        padding-left: 0
        padding-right: 0
        position: static
        .top_right
            padding: 0 22px

    .top_right .top_social .social a
        &+a
            margin-left: 10px
            height: 13px
            width: 13px
            display: flex;
        img
            display: block
            max-width: 100%

    .top_right .top_social 
        justify-content: space-between
        width: 100%
        .social
            width: 45%
        span.devider
            display: none
            margin: 0 6px
    
    header
        min-height: initial
        max-width: 100%
        margin-left: auto
        margin-right: auto
        position: relative
        z-index: 100
        .header_top
            height: 125px
            .container
                position: relative
                max-width: 100%
            .logo
                width: 100%;
                height: 67px;
                display: flex;
                justify-content: center;
                a
                    display: block
                img
                    width: 139px
                    max-width: 100%
            .top_right
                justify-content: center
                color: #fff !important
                background: #24324A
                height: 58px
                .top_basket
                    position: absolute
                    right: 25px
                    top: 23px
                .top_social .phone a
                    color:  #fff
                    font-size: 12px
                    &::before
                        background-image: url(../img/icon-phone-w.svg)
    nav.header_nav
        position: absolute
        background-color: transparent
        top: 22px
        left: 25px
        height: 19px
        
        ul li.active a::after, ul li:hover a::after
            width: 7px
            height: 38px
        
        .container
            padding: 0
        .toggler
            background: url('../img/humburger.svg') no-repeat
            width: 26px
            height: 45px
            display: block

        ul
            position: absolute;
            left: -25px;
            display: none
            width: 320px
            height: 568px
            background: url('../img/menu-mobile-bg.svg') no-repeat
            padding-top: 41px
            background-size: contain;
            li
                width: 165px
                display: block
                a
                    font-size: 16px
                    font-weight: normal
                    padding: 9px 0 9px 36px
                    line-height: 1
                & + li
                    margin-top: 22px
                    margin-left: 0


    #order_form.order_popup
        padding: 36px 22px
        max-width: 279px
    .form_row .title
        font-size: 18px
        margin-bottom: 22px
    .form_radio label
        font-size: 12px
    .form_row input[type=text]
        margin-bottom: 8px
        font-size: 12px
        &::placeholder
            font-size: 12px
    .form_row 
        margin-bottom: 36px
        textarea
            font-size: 12px
            &::placeholder
                font-size: 12px
    .form_radio.form_radio-block
        padding: 22px 0 14px
    .form_radio label::before
        top: 2px
    .form_row .title + .form_radio-block
        padding-top: 0

    .contacts_wrap 
        padding-bottom: 58px
        &::before
            width: 190px
            height: 296px
            top: initial
            bottom: 96px
            right: -38px

        .contacts_data
            font-size: 12px
    .contacts_wrap .contacts_data h1
        font-size: 18px
        margin-bottom: 22px
    .contacts_wrap .contacts_phone
        margin-top: 22px
        margin-bottom: 30px
    .contacts_wrap a.btn
        font-size: 12px
        padding: 10px 28px
    .contacts_wrap .contacts_place span::before, .contacts_wrap .contacts_phone a::before
        top: 2px
    .contacts_wrap .contacts_mail a::before
        top: 4px
    


    .crumbs ul li a,.crumbs ul li span
        font-size: 14px
    .crumbs ul
        margin-bottom: 22px
        padding: 22px 0

// ≥768px
+media-breakpoint-down(sm)
    .text_box--price .btns .count
        flex-wrap: wrap
    .text_box--price .btns a.btn
        min-width: 145px
        
    .text_box--price .btns .count>span
        font-size: 12px
        margin-bottom: 6px
    .text_box--price .inputs
        min-width: 145px
        width: auto
        div 
            padding: 8px 14px
            span
                font-size: 12px

    .product_wrap.product_main
        .prod_top
            .main_photo
                height: 215px
                padding: 22px
    section.main_section.article_list .slider_wrap .slick-arrow.slick-next
        right: 0
    section.main_section.article_list .slider_wrap .slick-arrow.slick-prev
        right: 27px 
    .text h2
        font-size: 22px
    section.main_section.reviews_section .review_slider .slick-arrow
        top: -20px
    .gallery_slider
        .gallery_item
            a
                height: 164px
            &.shadow-img::after
                top: 10%
    .product_wrap 
        .photo_box .main_photo
            height: 370px
            display: flex
            align-items: center
    .blog_wrap
        position: relative
        overflow: hidden
        &::before
            width: 190px
            height: 260px
            top: 126px
            transform: translateY(0)
            right: -60px

    footer .f_top .f_top--menu li
        line-height: 1
        margin: 26px 0
    footer .f_top .f_top--logo>a
        margin-bottom: 14px
    section.main_section.article_list .slider_wrap
        .slick-arrow
            top: -80px
    section.main_section.green_box .consultation
        margin-top: -40px
    section.main_section.howWork_section
        background: #64bc2a url(../img/line-mobile.png) no-repeat;
        background-position-y: 327px;
        background-position-x: center
        padding-bottom: 47px
        &::after
            height: 90px
        
        a.btn.btn_center
            padding: 0
            height: 32px
            line-height: 32px
            margin-top: 3px
            margin-bottom: 0

        .howWork_section--bg
            width: 296px
            height: 190px
            background-size: contain
            left: -115px
            top: 381px
    .steps_wrap
        margin-top: 47px
        margin-bottom: 0
        .row>div
            &:nth-child(1),&:nth-child(2)
                .step_item
                    padding-bottom: 50px
                    &::before
                        bottom: 15px
                        margin-left: 0
                        margin-top: 0
                    &::after
                        bottom: -4px
            &:nth-child(3),&:nth-child(4)
                .step_item
                    margin-top: 110px
                    &::before
                        top: -40px
                        margin-left: 0
                        margin-top: 0
                    &::after
                        top: -67px
            &:nth-child(5)
               max-width: 100% !important
               width: 100%
               flex: 0 0 100%
               .step_item
                    margin-top: 75px
                    &::before
                        top: -40px
                        margin-left: 0
                        margin-top: 0
                    &::after
                        top: -67px
        .step_item.step_item_bottom
            margin-top: 0

        .step_item
            &::before
                height: 34px
                width: 1px
                border-width: 1px
            img
                width: 58px
                height: 58px
            p
                font-size: 14px
                margin-top: 10px
                margin-bottom: 4px
            small
                font-size: 12px
                width: 116px
                margin-left: auto
                margin-right: auto
                height: auto
                line-height: 1
                color: #3E3F43





    section.main_section.main_screen .main_text .title
        font-size: 22px
    section.main_section.main_screen .main_text small
        font-size: 14px
        margin: 11px 0 18px
    .proposition
        .title_left
            margin-bottom: 10px
    section.main_section.main_catalog .slider_wrap
        margin-bottom: 58px
    section.main_section.proposition 
        margin-bottom: 0
        margin-top: 9px
        margin-left: 0
        padding-top: 90px !important
        padding-bottom: 30px !important
        a.btn.btn_center
            margin-top: 9px
            margin-bottom: 58px
            margin-left: 0
            width: auto
            padding: 10px 34px
            display: inline-block
    section.main_section.reviews_section
        background: none
    section.main_section.why_section::before
        width: 296px
        height: 190px
        background-size: contain;
        bottom: -31px
        left: -53px


    .catalog_wrap
        &::before
            background-size: contain;
            width: 190px;
            height: 296px;
    .prod_card.catalog_card
        width: 276px;
        margin: 0 auto;
    .prod_card.catalog_card .prod_card--fulldesc
        height: calc(100% - 105px)
        overflow: hidden
    .prod_card--fulldesc
        padding: 22px 22px 0
        .subname
            font-size: 14px
            margin-bottom: 8px
        .fulldesc_row
            & +.fulldesc_row
                margin-top: 5px
            span
                font-size: 12px
        .name
            font-size: 14px
            margin-bottom: 1em
        p
            font-size: 12px
            margin-bottom: .8em
    .prod_card.catalog_card
        height: 414px
    section.main_section.about_section .data-text
        padding-right: 0
    .proposition
        a.btn.btn_center
            margin-top: 0
            margin-bottom: 0
        .text
            .proposition_item 
                margin-bottom: 27px
                p
                    font-size: 22px
                    line-height: 27px
                    margin-bottom: 8px
                span
                    font-size: 12px
                    line-height: 1.4
    section.main_section.reviews_section .review_slider .reviews_item-wrap
        padding-top: 90px
    .reviews_section
        .title_left
            width: 70%

        .photo_slider
            margin-top: 35px
    section.main_section.why_section .title
        margin-bottom: 51px
    .why_box
        margin-bottom: 36px
        p
            margin: 14px 0 7px
            font-size: 14px
            line-height: 1

        small
            line-height: 1
    section.main_section.why_section
        padding-top: 110px
    section.main_section, section.main_section.proposition
        padding: 50px 0 60px
    section.main_section.main_catalog
        padding-top: 162px
    .command_slider .slick-track
        padding-top: 88px
    section.main_section.command_box
        .reviews_item
            padding-left: 22px
            padding-right: 22px 
        .title
            margin-bottom: 0
        .slick-arrow
            top: -22px
        .reviews_item .reviews_item--img
            margin-bottom: 17px
        .reviews_item .reviews_item--name
            margin-bottom: 7px
        .reviews_item .reviews_item--subname
            margin-top: 0
        .reviews_item .reviews_item--text
            margin: 18px 0
        .reviews_item .reviews_item--link
            font-size: 12px
            line-height: 1

    section.main_section.command_box
        padding-bottom: 31px 
        a.btn.btn_center
            margin-bottom: 0

    section.main_section.article_list
        padding-bottom: 58px

    .consultation .subtitle
        opacity: 1
        line-height: 1
    .consultation .btn
        padding: 9px 46px 

    a.btn.btn_center
        font-family: $text3
        font-size: 12px
        padding: 9px 39px
        width: 185px
        margin-top: 36px
        margin-bottom: 36px
        margin-left: auto
        margin-right: auto
        &::before
            content: none
        &::after
            content: none
    
    .slider_wrap.article_slider
        width: 276px
        margin-left: auto
        margin-right: auto
    small.subtitle
        font-size: 12px
        margin-bottom: 22px
    .prod_card:not(.catalog_card) .prod_card--desc 
        max-width: 150px
        margin: auto
        .price
            text-align: center
    .prod_card.catalog_card .prod_card--desc .name
        font-size: 16px
        font-weight: 700
    .prod_card .prod_card--desc .desc
        font-size: 12px
    .prod_card.catalog_card .prod_card--desc .price
        font-size: 16px
    .prod_card.catalog_card .prod_card--img
        height: 196px
        margin-bottom: 32px

    .about_wrap::before
        width: 190px
        height: 296px
        left: -40px
    .text_row div.data-text
        padding-left: 0
    .text_row div.data-img,
    .about_content .text_row div.data-img
        margin-bottom: 31px
    .text_row div.data-text h1
        margin-bottom: 14px
    .gallery_slider .gallery_item
        padding-bottom: 56px

    .prod_desc
        .tab_links
            display: block
            margin-bottom: 0
            
            li
                width: 100%
                &:first-child
                    a
                        border-top-right-radius: 10px
                        border-top-left-radius: 10px
                a
                    width: 100%
                    display: block
                    border-radius: 0
    .tab_links li+li
        margin-left: 0
    .tabs_item
        padding: 23px 20px
    .tab_links li a.active::after
        content: none

    .text_box h3
        font-size: 18px
        margin-bottom: 22px
    .text_box p
        font-size: 12px
    .prod_card .prod_card--img
        max-width: 100%
        height: 81px
        width: 196px
        margin-left: auto
        margin-right: auto
    .prod_card 
        padding: 0 15px
        margin: 0 4px
        .prod_card--img
            height: 81px

    

    .prod_card .prod_card--desc .name
        font-size: 12px
        height: 47px
        margin-bottom: 6px
    .prod_card .prod_card--desc .price
        font-size: 14px
        height: 18px
    .prod_card .prod_card--desc .in_basket
        width: auto
        display: inline-block
        font-size: 12px
        padding: 9px 16px
        line-height: 1
        height: auto
        margin-bottom: 25px
        margin-top: 14px

    .prod_card .prod_card--img .sales
        width: 48px
        height: 33px
        background: url(../img/discount_label-mobile.png) no-repeat
        font-size: 12px
        padding-bottom: 5px

    .text_box h4
        font-size: 14px
    .product_wrap.product_main .prod_top .text_box
        padding-left: 0
    .price
        font-size: 22px
        padding-top: 8px;
    .text_box--price a.btn
        font-size: 12px
        padding: 9px 38px
    .product_wrap .prod_top
        margin-bottom: 47px
    .reviews_wrap
        padding-bottom: 0
    .reviews_wrap::before
        width: 190px
        height: 296px
        left: -55px
    .reviews_wrap::after
        content: "";
        background: url(../img/decor.svg) no-repeat;
        background-size: contain;
        transform: rotate(90deg)
        width: 135px;
        height: 260px;
        position: absolute;
        bottom: -65px;
        left: 34px;
        margin-left: 59px;
        z-index: -1

    .reviews_wrap .title
        margin-bottom: 78px
        line-height: 1
    .reviews_wrap 
        .col-12
            .reviews_item
                margin-bottom: 34px
            & + .col-12
                .reviews_item
                    margin-top: 54px

    .reviews_item
        margin-bottom: 88px 
        .reviews_item--img
            margin-top: -46px
            img
                width: 92px
                height: 92px
    .reviews_item-wrap
        .reviews_item
            margin-bottom: 88px 
    .reviews_item .reviews_item--date
        line-height: 1
        font-size: 12px
    .reviews_item .reviews_item--name,
    .reviews_section .reviews_item .reviews_item--name
        margin-bottom: 18px
        font-size: 18px
    .reviews_item .reviews_item--text,
    .reviews_section .reviews_item .reviews_item--text
        font-size: 12px
        margin-bottom: 20px
    .reviews_section .reviews_item .reviews_item--text
        line-height: 2.5


    .crumbs ul
        padding: 20px 0
        margin-bottom: 20px
    .text p, .text li
        font-size: 12px
    .text ul, .text ol
        padding-left: 15px
    .text h3
        font-size: 16px

    .slick-arrow
        width: 22px
        height: 22px
        background-size: contain;
        top: -58px
    .slick-arrow.slick-prev
        right: 45px
    .slider_wrap
        margin-top: 36px
        margin-bottom: 36px
    .more_prod .title
        line-height: 1
    .pagination li a
        font-size: 12px
    .pagination li+li
        margin-left: 8px
    .article_item
        height: 190px !important
        width: 276px !important
        padding: 20px 22px !important
        margin-bottom: 36px

        
    .article_item .article_item--name
        font-size: 14px
        br
            display: none
    .article_slider .article_item
        margin: 0 20px 0
    .article_item p
        font-size: 12px
        margin: 11px 0 0 
        padding-bottom: 11px
    .article_item .article_item--bottom span
        font-size: 10px
    .article_item .article_item--bottom span+span
        margin-left: 14px
    .article_item .article_item--bottom
        padding-top: 6px
        bottom: 10px
        width: calc(100% - 44px)
    .topSlider .topSlider_item a
        font-size: 12px
        padding: 10px 38px
        margin: 0 0 14px
        width: auto
        display: inline-block
    .topSlider_item--bottom span+span
        margin-left: 18px
    .topSlider .slick-dots
        margin-bottom: 0
        bottom: 25px
    .topSlider_item--bottom span
        font-size: 14px
    .topSlider_item--bottom span::before
        top: 5px
    .topSlider .topSlider_item .name
        font-size: 24px
        margin-bottom: 28px
    .topSlider .topSlider_item
        height: 377px
        padding-top: 31px
    .topSlider .topSlider_item p
        font-size: 12px
    .title.inner_title
        margin-bottom: 22px
    .basket_title
        display: none
    .basket_row
        padding-top: 14px
        padding-bottom: 14px    
        position: relative
    .basket_row--img
        height: 58px
        width: 58px
        overflow: hidden
        img
            max-width: 100%
    .basket_row--center, .basket_title--center
        padding: 0
        padding-left: 15px
        width: 150px
    .basket_row--center
        display: block
    .basket_row--center .basket_name
        font-size: 12px
    .basket_remove
        position: absolute
        top: 14px
        right: 0
    .basket_row--right
        width: auto
    .basket_quantity 
        margin-top: 14px
        input
            font-size: 12px

    .basket_row--right .basket_price
        position: absolute;
        font-family: Montserrat
        right: 0;
        bottom: 14px;
        opacity: .7
        font-weight: 500
        .curr
            font-family: Montserrat
            font-size: 16px
            opacity: .6
    .basket_quantity span
        font-weight: 600
    .basket_bottom
        margin-top: 22px
    .basket_bottom .basket_bottom--total p
        font-size: 22px
        span
            font-size: 22px
    .basket_bottom a.btn
        font-size: 12px
        padding: 10px 35px
        width: 174px
    .basket_bottom a.more_orders
        font-size: 12px
    .basket_wrap
        margin-bottom: 58px
    


    .prod_card
        margin-bottom: 8px
    .store_wrap
        small
            font-size: 12px
            margin-top: 8px
            margin-bottom: 22px
        .store_item
            height: 131px
            padding: 20px 10px
            margin-bottom: 27px
            span
                font-size: 12px
            img
                max-width: 100%
                max-height: 65%
    .gallery_slider
        margin-bottom: 0
    .title
        font-size: 22px
        line-height: 1
    .text p+.text_row, .text
        margin-bottom: 36px
    .text_row,
    .about_content .text_row
        margin-bottom: 20px
    .about_content
        .text
            margin-bottom: 0
    .text p
        font-size: 12px
    .text_row div.data-text h1, .text_row div.data-text h2
        font-size: 22px

    .crumbs ul li a,.crumbs ul li span
        font-size: 12px

    
    

    article.text_inner::before
        background-size: 296px 190px
        width: 190px
        height: 296px
        right: initial
        left: 0
        transform: rotate(180deg) translateY(50%)
    article.text_inner .text h1
        font-size: 26px
        line-height: 1
        margin-bottom: 16px
    article.text_inner .text p+h2
        font-size: 22px
        line-height: 1
        margin-bottom: 16px
    footer
        padding-top: 44px
        .f_top
            .f_top--cards
                width: auto
    footer .f_top
        margin-bottom: 34px
    footer .f_top .f_top--cards
        margin-top: 11px
    footer .f_top .slogan
        font-size: 14px
        margin-bottom: 32px
    footer .f_top .f_top--cards .cards_wrap
        width: 220px
        margin-left: 0
    footer .f_top .f_top--cards .cards_wrap span.f_top--visa__btn small
        width: 190px
        height: 27px
        padding: 0 8px 0 17px
    footer .f_top .f_top--cards .cards_wrap span.f_top--visa__top
        font-size: 12px
        top: -10px
    footer .f_top .f_top--cards .cards_wrap span.f_top--visa__btn
        left: 11px
    footer .f_top .f_top--menu
        margin-left: 0
        padding-top: 0
        margin-top: 10px
    footer .f_top .f_top--menu ul
        margin-bottom: 0
    footer .f_top .f_top--feedback
        text-align: left
        margin-top: 44px
    footer .f_top .f_top--feedback a.btn
        display: block
    footer .f_top .f_top--menu li a
        font-size: 14px
    footer .f_top .f_top--menu ul+ul
        margin-left: 47px
    footer .f_bottom
        flex-wrap: wrap
        .f_bottom--links
            display: flex
            justify-content: space-between
            margin-bottom: 22px
            order: -1
            a
                font-size: 12px
            span
                margin: 0 10px

    .store_wrap
        .prod_card
            padding-top: 10px 
            .prod_card--img 
                width: 100%
                img
                    height: 81px
            .prod_card--desc .price
                text-align: center
        .prod_card .prod_card--desc .name
            height: 36px
            font-weight: 700
        .prod_card .prod_card--desc .in_basket
            padding: 5px 15px
            color: #64BC2A
            font-size: 10px
            font-weight: 500
    .form_tabs.form_radio input:checked+label::after
        top: 5px

    section.main_section.proposition .text_row
        margin-top: 36px
        .data-img
            display: none
    footer .f_top .f_top--feedback a.btn
        font-size: 12px
        padding: 9px 26px
        display: inline-block

    .basket_wrap::before, .store_wrap::before
        width: 190px
        height: 260px
        background-size: containe

    .store_wrap
        .store_row
            &>div:nth-child(odd)
                padding-right: 7px
            &>div:nth-child(even)
                padding-left: 7px
    section.main_section.reviews_section
        .review_slider
            .slick-arrow
                top: -20px
                bottom: initial
                left: initial
                right: 18px
                transform: none
                &.slick-prev
                    margin-left: 0
                    right: 45px
                    transform: rotate(180deg)
                &.slick-next
                    margin-left: 0

// ≥576px
+media-breakpoint-down(xs)
    
    .gallery_slider .gallery_item a
        height: auto
    .form_radio input:checked+label::after
        top: 5px
    .form_popup.fancybox-content
        padding: 25px
    .form_popup 
        .form_popup--text 
            p
                font-size: 24px
                height: auto
            small
                font-size: 14px
                height: auto
        .form_row .btn
            margin-top: 20px
            padding: 10px 35px
            font-size: 14px
    .text_box 
        max-width: 960px
        overflow: auto
        table
            width: 100%
    .prod_card .prod_card--desc .desc,
    .prod_card .prod_card--desc .name
        height: auto
    article + .more_prod
        position: relative
        &::after
            content: ""
            background: url('../img/decor.svg') bottom center no-repeat
            background-size: contain
            width: 190px
            height: 296px
            transform: rotate(90deg)
            display: block
            margin-bottom: 0
            position: absolute
            bottom: -110px;
            z-index: -1
            left: 50%
            transform: translateX(-50%) rotate(90deg)

        .article_item.shadow-img
            &::after
                filter: blur(15px)
    .shadow-img.big-img
        &::after
            top: 35%
            filter: blur(16px)
    .topSlider_item--bottom
        margin-bottom: 30px
        span
            font-size: 12px
    article .topSlider_item--bottom span.view_count
        position: relative
        top: 3px
        &::before
            height: 11px
            margin-right: 8px
            top: 1px
    article .topSlider_item--bottom span.date_added
        height: 20px
        &::before
            width: 21px
            margin-right: 8px
            height: 20px
            background-size: contain
            top: 3px
    .store_wrap
        overflow: hidden
        .product_list
            .row:nth-child(2)
                .col-6:nth-child(odd)
                    padding-right: 4px
                .col-6:nth-child(even)
                    padding-left: 4px
    .product_wrap--slide .photo_box 
        a.more3d
            bottom: 0
        .main_photo--wrapper
            width: 70%
            height: 205px
            overflow: hidden;
        .thumb_photos
            width: 25%
            height: 205px
    .product_wrap 
        .photo_box .main_photo
            height: 205px
        .text_box h1
            margin-bottom: 14px
    .tab_links li a
        padding: 18px 22px
        font-size: 12px
        cursor: pointer
    .tab_links li a.active
        text-decoration: none
    .article_item::before
        background: rgba(62,63,67,.47);
    .catalog_item--wrap
        margin-bottom: 23px
        & + .catalog_item--wrap
            margin-top: 8px
    .about_wrap
        .more_prod
            .slider_wrap
                margin-top: 58px
            .slick-arrow
                top: -80px
    .text, .text p+.text_row
        margin-bottom: 20px
    footer .f_bottom
        padding: 20px 0 34px
        .copyright
            opacity: .7
            font-size: 12px

    footer .f_top .f_top--feedback 
        span
            font-size: 18px
            margin-bottom: 17px
        small
            margin-bottom: 17px
            font-size: 12px


    section.main_section.green_box .consultation .title
        line-height: 27px
    section.main_section.article_list .article_item p
        height: 85px
    .article_item .article_item--bottom
        bottom: 19px
        line-height: 1
    section.main_section.article_list .article_item::after
        top: 27%


    section.main_section.why_section 
        padding-bottom: 63px
        &>.container
            z-index: 1
            position: relative
        &::before
            z-index: 0
        a.btn.btn_center
            margin-bottom: 0
    .why_box .why_box--img
        padding: 8px
        height: auto
        img
            width: 41px
            height: 41px
    section.main_section.main_catalog small.subtitle
        opacity: 1
    section.proposition .subtitle
        font-size: 12px
    section.main_section.about_section
        padding-top: 51px
        padding-bottom: 71px
    section.main_section.main_catalog .prod_card
        height: auto
        .prod_card--img
            height: 122px
            width: auto
            margin-bottom: 13px
            img
                max-height: 100%
        .prod_card--desc 
            .name
                height: 56px
                font-size: 14px
                font-weight: bold
            .price
                font-weight: 500
                font-size: 14px
                text-align: center

    section.main_section.main_catalog
        padding-top: 130px
        overflow: hidden
    section.main_section.about_section a.btn
        min-width: initial
        font-size: 12px
        padding: 10px 32px
        margin-top: 6px
    section.main_section, section.main_section.proposition
        padding: 90px 0 90px

    section.main_section.howWork_section
        background: #64bc2a url(../img/line-mobile-2.png) no-repeat;
        background-position-y: 327px;
        background-position-x: center
        padding-bottom: 47px
        padding-top: 57px

        &>.container
            max-width: 320px


    section.main_section.reviews_section .photo_slider .photo_slider-item:hover::after
        margin-top: 0
    section.main_section.main_screen
        overflow: hidden
        height: 421px
        // background-image: none !important
        padding-top: 51px
        padding-bottom: 56px
        background-position: 600% 25%
        background-size: 90%
        &::after
            content: ""
            background: url(img/main-image-bg.png) no-repeat


    section.main_section.main_screen 
        position: relative
        .top_slider_wrap
            padding: 0
            width: 185px
            height: 135px
            position: absolute
            top: 110px
            right: -49px

    
    .top_slider .top_slider--item .shadow-img::after
        content: none

    section.main_section.main_screen .main_text a.btn
        width: 156px
        height: 32px
        font-size: 12px
        padding: 0
        min-width: initial
        line-height: 32px
        margin: 4px 0
        
    section.main_section.main_screen .main_text a.download
        font-size: 12px
        margin-top: 15px
    section.main_section.main_catalog .consultation
        margin-bottom: 0
    .top_slider .top_slider--item
        padding-bottom: 0

    .top_slider .slick-arrow
        bottom: -20px
    .top_slider .slick-arrow.slick-prev
        margin-left: -30px
    section.main_section.main_screen .main_text small
        margin-bottom: 10px
        

    #map
        min-height: 190px
    section.main_section.green_box
        &.article_list::after
            content: none
        .consultation .title
            margin-bottom: 16px
    .reviews_item.shadow-img::after
        filter: blur(20px);
        
    .store_wrap .prod_card
        max-width: 174px
        margin-left: auto
        margin-right: auto
    .prod_card.catalog_card
        width: 276px
        margin: 0 auto
    section.main_section.reviews_section .photo_slider .photo_slider-item
        img
            margin-left: auto
            margin-right: auto
            margin-bottom: 13px
            display: block
        &:hover img
            margin-left: auto
            margin-right: auto
            margin-top: initial
            zoom: initial
    section.main_section.reviews_section .photo_slider .photo_slider-item
        padding-bottom: 0
    section.main_section.reviews_section .photo_slider .photo_slider-item span
        font-size: 12px
    section.main_section.reviews_section .photo_slider
        margin-top: 0

    section.main_section.reviews_section .photo_slider
        margin-bottom: 0


    .photo_slider
        .slick-arrow
            top: -22px
    section.main_section.reviews_section .review_slider .slick-arrow.slick-next
        margin-left: 15px
    section.main_section.reviews_section .review_slider .slick-arrow.slick-prev
        margin-left: -15px


    .more_prod .title
        width: 70%
    section.main_section.main_catalog .consultation .title
        width: 100%
        margin-bottom: 11px
    .product_wrap .prod_top .text_box
        padding-top: 22px
    .product_wrap .photo_box
        height: auto
    .product_wrap .thumb_photos .thumb_item
        height: 65px !important
        width: 65px !important
        border-radius: 14px
        padding: 5%
    .product_wrap--slide .thumb_photos 
        margin-top: 0
        .thumb_item
            margin: 2px 0
    .product_wrap .photo_box .main_photo
        overflow: hidden
        padding: 0
        display: flex
        align-items: center
        justify-content: center
        img
            max-width: 80%
    .subcat_row
        margin: 14px 0 22px
    .mini_title
        font-size: 14px
        margin-bottom: 22px
    .subcat_item
        font-size: 12px
        height: 87px 
    .prod_card .prod_card--desc .price sup
        top: -13px
        left: -10px
    .product_wrap.product_main .text_box p
        font-size: 12px
    .text_box ul
        margin-top: 17px
    .text_box ul li
        font-size: 12px
    .product_wrap.product_main .photo_box .main_photo
        padding-top: 30px
        padding-bottom: 30px
        height: 215px
    .text_box h1
        font-size: 18px
    
    .article_slider .article_item
        margin: 0 auto 40px
    .topSlider .topSlider_item .name
        font-size: 18px
        margin-bottom: 22px
    .popup_add
        padding: 58px 22px
        .popup_add--wrap
            text-align: center
            img
                margin-bottom: 15px
                width: 50px
            p
                font-size: 18px
                font-weight: bold
            small
                font-size: 12px
                margin-top: 10px
        .popup_add--btns
            display: block
            margin-top: 11px
            a
                height: 32px
                line-height: 1
                padding: 10px 0
                font-size: 12px
                width: 194px
                margin: 4px auto
                display: block
                &.in_basket
                    line-height: 1
                    padding: 10px 0
    

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)
    
// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
