@import "vars"
@import "fonts"
@import "libs"

@mixin shadow
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 46%
	background-image: linear-gradient(to top, rgba(82, 71, 58, 0.75) 0%, rgba(88, 76, 62, 0.44) 50%, rgba(255, 255, 255, 0.001) 85%)

@mixin shadow2
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 100%
	background-image: linear-gradient(to top, #3d342b 0%, rgba(31, 26, 22, 0.95) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);

@mixin border-bottom
	text-decoration: none
	border-bottom:
		width: 1px
		style: solid
		color: rgba(255,255,255,.3)

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
 
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #f8f8f8
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
 
.btn_link
	font-family: Cambria
	border-radius: 5px
	background-color: #fae300
	color: #010101
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 0.14px
	font-size: 12px
	text-align: center
	display: flex
	align-items: center
	justify-content: center
	&:hover
		text-decoration: none
		color: #010101
		background-color: #e1cd00
	&.btn_link--big
		font-size: 16px
		width: 170px
		height: 48px
	&.btn_link--favorite
		width: 231px
		height: 36px
		font-size: 16px
		font-family: Roboto
		text-transform: none
		letter-spacing: 0.16px
		float: right
		img
			width: 17px
			margin-left: 9px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: #fff
	&:hover
		color: #fff
		text-decoration: underline

.wrap
	width: 100%
	max-width: 1266px
	background: #fff
	margin: 
		left: 22.13%
		right: 11.91%
.inner_wrap
	margin: 
		left: 22.13%
		right: 11.91%
	



.title
	color: #000000
	font-family: Cambria
	font-size: 36px
	font-weight: 400
	line-height: 48px
	text-align: center
	margin-bottom: 24px
	&.upper
		text-transform: uppercase
	&.inner
		text-align: left
.subtitle
	color: #000000
	font-size: 30px	
	margin-top: 15px
	margin-bottom: 35px	

//LEFT MENU
.left_menu
	width: 301px
	padding: 38px 33px
	text-align: center
	background-color: rgba(35,32,29,.75)
	height: 100vh
	position: fixed
	left: 0
	top: 0
	z-index: 10001
	&.content,&.inner
		background-color: #5a5855
		.menu_bottom--social
			a
				opacity: 1
	.toggler_close
		display: none
	.menu_wrapper
		height: 100%
		display: flex
		justify-content: space-between
		flex-direction: column
	.menu_bottom
		.btn_link
			width: 188px
			height: 36px
			font-size: 12px
			margin-bottom: 24px
			margin-left: auto
			margin-right: auto
	.menu_bottom--info
		margin-bottom: 35px
		p, a
			opacity: 0.5
			color: #ffffff
			font-family: Roboto
			font-size: 13px
			line-height: 24px
			margin-bottom: 0
	.menu_bottom--social
		a
			margin: 0 8px
			opacity: .5
	.menu_box--links
		display: none
	.menu_box--list
		list-style: none
		padding-left: 0
		li
			margin-bottom: 25px
			a
				color: #ffffff
				font-size: 14px
				text-transform: uppercase
				line-height: 1
				&:hover
					color: #fae300
					text-decoration: none
		

//TOP MENU
header
	// height: 940px
	transition: all .5s
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 5
	color: #ffffff
	transform: translateY(0)
	&.hide
		transform: translateY(-100%)
	
	nav.top_nav
		margin-left: 24.37%
		margin-right: 14.67%
		.mobile_front
			display: none
			text-align: center
			font-size: 18px
			color: #3880b8
			padding: 12px 0
			&:after
				content: ""
				width: 11px;
				height: 6px
				display: inline-block
				margin-left: 5px
				background: url(../img/dropdown-arrow.png) no-repeat
		&>ul
			overflow: auto
		ul
			padding-left: 0
			list-style: none
			display: flex
			justify-content: center
			margin: 0 auto
			ul.parent
				list-style: none
				padding-left: 0
				display: none
				height: 59px
				background-color: #fae300
				position: absolute
				left: 0
				z-index: -1
				top: 153px
				width: 100%
				li
					&:hover a
						font-weight: 700
					a
						line-height: 1
						color: #000000
			li
				padding: 22px 0
				a
					padding: 0 18px
					color: #3880b8
					font-size: 18px
					white-space: nowrap
				&:hover
					&>a
						color: #000
						text-decoration: none
			li.dropdown
				&:hover
					.parent
						display: flex
				&>a::after
					content: ""
					width: 11px
					height: 6px
					display: inline-block
					margin-left: 5px
					background: url('../img/dropdown-arrow.png') no-repeat
				&:hover
					a::after
						background: url('../img/dropdown-arrow-b.png') no-repeat
						position: relative
						top: -2px
			

	.header_top--toggler
		&>a
			width: 26px
			height: 25px
			display: inline-block
			background: url('../img/icon-toggler.png') no-repeat
	.top_menu
		ul
			padding-left: 0
			list-style: none
			li
				display: inline-block
				a
					font-family: Cambria
					color: #ffffff
					font-size: 14px
					font-weight: 400
					line-height: 24px
					text-transform: uppercase
					&:hover
						@include border-bottom
				& + li
					margin-left: 15px
	a
		color: #fff
	&.inner, &.main_white
		box-shadow: 0 3px 10px rgba(0,0,0,.15)
		background-color: #ffffff
		color: #000
		.header_top--toggler
			&>a
				background: url('../img/icon-toggler-b.png') no-repeat
		.header_top
			border-bottom: 1px solid rgba(88,86,84,.3)
		.header_top--phone
			a
				color: #000
		.top_menu ul li 
			a
				color: #000
			&.active a, &:hover a
				color: #3880b8
		.top_menu--links
			.top_search 
				input
					color: #000000
					&::placeholder
						color: #000000
				button
					background: url(../img/icon-search-b.png) no-repeat
			.top_favorite::after
				background: url(../img/icon-favorite-b.png) no-repeat;


	.header_top
		display: flex
		max-width: 1170px
		width: 100%
		margin:
			top: 0 
			left: 24.37%
			right: 14.67%
			bottom: 0
		z-index: 101
		top: 0
		height: 84px
		padding: 25px 10px 20px
		border-bottom: 
			width: 1px
			style: solid
			color: rgba(255,255,255,.3)
		

	.header_top--phone
		margin-right: 121px
		span
			display: block
			opacity: 0.5
			font-family: Roboto
			font-size: 12px
			font-weight: 400
			line-height: 14.4px
		a
			font-family: Cambria
			font-size: 16px
			font-weight: 400
			line-height: 24px
			&:hover
				@include border-bottom

	.header_top--menu
		margin-left: 15px
		display: flex
		flex-direction: column
	.top_menu--links
		display: flex
		justify-content: flex-end
		.top_search, .top_favorite
			span
				font-family: Roboto
				font-size: 12px
				font-weight: 400
				line-height: 14.4px
		.top_search 
			input
				opacity: .5
				width: 88px
				border: none
				background: none
				font-family: Roboto
				font-size: 12px
				font-weight: 400
				line-height: 14.4px
				&::placeholder
					color: #ffffff
			button
				border: none
				background: url('../img/icon-search.png') no-repeat
				width: 15px
				height: 15px
				vertical-align: middle
				margin-left: 14px
		.top_favorite
			margin-left: 48px
			cursor: pointer
			&::after
				content: ""
				background: url('../img/icon-favorite.png') no-repeat
				width: 17px
				height: 16px
				display: inline-block
				vertical-align: middle
				margin-left: 8px



//MAIN SLIDER
.main_slider__item
	background-size: cover
	height: 940px
	background-position: top center
	position: relative
	&:before
		@include shadow
.slider
	.slider_content
		position: relative
		height: 100%
		display: flex
		justify-content: flex-end
		flex-direction: column
		max-width: 1170px
		margin:
			top: 0 
			left: 24.37%
			right: 14.67%
			bottom: 0
		padding-bottom: 195px
		color: #ffffff
	.slider_content--title
		font-size: 35px
		line-height: 1.35
		text-transform: uppercase
	.slider_content--desc
		font-size: 23px
		margin-bottom: 17px


section
	padding-top: 30px

.m_services
	padding-top: 52px
	margin-top: -120px
	position: relative
	z-index: 1

	
.main_slider.slick-slider
	.slick-dots
		list-style: none
		padding-left: 0
		position: absolute
		bottom: 143px
		left: 50%
		transform: translateX(-50%)
		li
			cursor: pointer
			display: inline-block
			margin: 0 7px
			background: transparent
			width: 10px
			height: 10px
			border: 1px solid transparent
			border-color: rgba(255,255,255,.5)
			border-radius: 50%
			&.slick-active
				background: white
		button
			display: none
	
.slick-slider
	.slick-dots
		list-style: none
		padding-left: 0
		text-align: center
		margin-bottom: 0
		li
			cursor: pointer
			display: inline-block
			margin: 0 7px
			background: transparent
			width: 10px
			height: 10px
			border: 1px solid transparent
			border-color: rgba(140,107,72,.5)
			border-radius: 50%
			&.slick-active
				background-image: linear-gradient(to top, #52473a 0%, #8c6b48 100%)
		button
			display: none
// end

// main services
.services_item
	margin-bottom: 52px
	height: 430px
	width: 270px
	background-position: top center
	background-size: contain
	background-repeat: no-repeat
	position: relative
	display: flex
	justify-content: flex-end
	flex-direction: column
	color: #fff
	// padding: 0 27px 35px
	&:hover
		justify-content: center
		&:before
			background-image: linear-gradient(to top, #3d342b 0%, #2a2828 100%);
		.services_item--inner
			margin-bottom: 0
	&:before
		@include shadow2
	.services_item--inner
		position: relative
		text-align: center
		height: 147px
		padding: 0 27px
		margin-bottom: 35px
		a
			font-size: 18px
			font-weight: 400
			line-height: 1
			text-transform: uppercase
			display: block
			margin-bottom: 20px
		p
			opacity: 0.75
			color: #ffffff
			font-family: Roboto
			font-size: 14px
			line-height: 1.4


//icon LIST
.icon_item
	display: flex
	height: 89px
	margin-bottom: 38px
.icon_item--img
	width: 72px
	padding-top: 8px
	border-right: 1px solid #d6d6d6
	img
		display: block
		margin: auto

.icon_item--desc
	padding: 5px 12px 0
	color: #000000
	font-size: 16px
	line-height: 24px
	width: 200px

//main projects
.proj_tabs__header
	height: 72px
	max-width: 366px
	width: 95%
	border: 1px solid #beb7ac
	padding: 20px 20px 15px
	line-height: 1
	text-transform: uppercase
	display: block
	font-size: 16px
	color: #7c6c5a
	margin-bottom: 11px
	&:hover
		background-color: #eeecea
		border-color: #efeeea
		color: #7c6c5a
		text-decoration: none
	span
		font-family: Roboto
		display: block
		margin-top: 7px
		line-height: 1
		text-transform: none
		color: #ababab
		font-size: 13px

.m_projects--inner
	.proj_tabs__header
		height: auto
	.nav
		height: 128px
		overflow: hidden
		&.open
			height: auto
	
	.toggle_more
		text-align: center
		margin-left: auto
		margin-right: auto
		display: block
		color: #000000
		font-family: Roboto
		font-size: 14px
		text-decoration: underline
		&:hover
			text-decoration: none


//MAIN CONTACT
.m_contact
	height: 441px
	padding: 62px 0 70px
	background-image: url('../img/bg_form.jpg')
	background-repeat: no-repeat
	background-position: top right
	.wrap
		background: transparent
	.title
		color: #fff
		margin-bottom: 35px
.m_contact--content
	margin: 0 auto
	text-align: center
	max-width: 450px
	font-size: 24px
	font-weight: 700
	line-height: 24px
	color: #fff
	a
		display: block
		margin: 0 auto 30px
	small
		display: block
		font-size: 18px
		font-weight: 400
.m_contact_form
	width: 295px
	margin: 18px auto 0
	button
		display: block
		margin: 0 auto

form.classic	
	input
		width: 294px
		height: 36px
		box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15)
		border-radius: 5px
		border: 1px solid #cfc6c2
		background-color: transparent
		margin-bottom: 13px
		padding: 0 12px
		opacity: 0.8
		color: #ffffff
		font-size: 14px
		line-height: 36px
		&::placeholder
			opacity: 0.5
			color: #ffffff
			font-size: 14px
			line-height: 36px
	button
		border: none
		font-size: 12px
		letter-spacing: 0.14px
		text-transform: uppercase
		width: 189px
		height: 36px
		cursor: pointer

//Проекты
.m_projects
	.nav-pills 
		display: flex
		flex-wrap: wrap
		margin-bottom: 24px
		.nav-item
			width: 33%
		.nav-link
			border-radius: 0
	.nav-pills .nav-link.active
		background-color: #eeecea
		border-color: #efeeea
		color: #7c6c5a
		text-decoration: none
	
	.tab-content
		margin-bottom: 70px


.slick-arrow
	position: absolute
	top: 50%
	width: 18px
	height: 32px
	background-repeat: no-repeat
	border: none
	font-size: 0
	background-color: transparent
	margin-top: -16px
	cursor: pointer
	&:focus
		outline: none
	&.slick-prev
		left: -32px
		background-image: url('../img/arrow.png')
		transform: rotate(180deg)
		&:hover
			background-image: url('../img/arrow-hover.png')
			transform: rotate(0deg)
		
	&.slick-next
		right: -32px
		background-image: url('../img/arrow.png')
		&:hover
			background-image: url('../img/arrow-hover.png')
			transform: rotate(180deg)
	

.tab-content>.tab-pane{ display: block; height: 0px; overflow: hidden; }
.tab-content>.active{ height: auto;}		

.middle_slider
	max-width: 1000px
	margin: 0 auto

.middle_slider--item
	max-width: 486px
	height: 530px
	margin: 25px 15px
	box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.1)
	background-color: #ffffff
	&.slider_small
		height: 492px
		.slider_img
			height: 202px
		.slider_bottom
			display: block
			.slider_bottom--link
				margin-top: 19px
	.slider_img
		height: 304px
		overflow: hidden
		position: relative
		img
			max-width: 100%
	.slider_desc
		padding: 15px 22px 36px	
		a.link_name
			color: #3880b8
			font-family: Cambria
			font-size: 24px
			padding-bottom: 6px
			display: block
			border-bottom: 1px solid rgba(189,196,212,.5)
			margin-bottom: 21px
		h3
			font-size: 24px
			font-weight: 400
			margin-bottom: 17px
			line-height: 1
		span
			display: block
			font-size: 14px
			color: #808080
			font-family: Roboto
			line-height: 24px

	.slider_bottom
		margin-top: 18px
		display: flex
		justify-content: space-between
	.slider_bottom--price
		p
			font-size: 24px
			line-height: 30px
			margin-bottom: 0
		small
			font-size: 18px
			line-height: 24px
	.btn_link
		margin-top: 6px
		height: 37px
		width: 169px
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.14px


//BURO
.m_buro--inner
	background:
		repeat: no-repeat
		position: top right
	height: 600px
	padding: 52px 0
	position: relative
	display: flex
	justify-content: flex-end
	.buro_form
		width: 431px
		height: 496px
		margin-right: 15.6%
		background-color: #342e28
		padding: 53px 64px 55px
		p
			color: #ffffff
			font-size: 24px
			font-weight: 700
			line-height: 24px
		blockquote
			margin: 16px 0 22px
			padding: 10px 0
			text-align: center
			color: #d4be8e
			font-size: 15px
			line-height: 24px
			border-top: 4px solid #d4be8e
			border-bottom: 4px solid #d4be8e
			span
				font-size: 24px
		small
			color: #ffffff
			font-family: Roboto
			font-size: 14px
			font-weight: 400
			line-height: 24px
			display: block
			margin-bottom: 20px

//GALLERY MAIN PAGE
.m_gallery
	.gallery_wrap
		display: flex
		flex-wrap: wrap
	.nav-pills
		margin-bottom: 35px
		display: flex
		justify-content: center
		.nav-item 
			margin: 0 5px
			a
				color: #808080
				font-family: Roboto
				font-size: 16px
				font-weight: 400
				background: none
				padding: 0
				&.active
					color: #014ca0

.gallery_small, .gallery-lg
	display: block
	height: 286px
	border: 4px solid #ffffff
	background-color: #d0d0d0
	cursor: pointer
	position: relative
	overflow: hidden
	background: 
		repeat: no-repeat
		position: center
		size: cover	
	.gallery_item--wrapper
		background-color: rgba(35, 32, 29, 0.8)
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		transform: translateY(-100%)
		transition: all .3s
		color: #fefefe
	&:hover
		.gallery_item--wrapper
			transform: translateY(0%)

.gallery_small
	.gallery_video--wrap
		display: flex
		justify-content: flex-end
		flex-direction: column
		height: 100%
		background-image: linear-gradient(to top, #000001 0%, rgba(0, 0, 1, 0) 33%, rgba(0, 0, 0, 0) 100%);
		padding: 0 22px 15px 11px
		position: relative
		&::before
			content: ""
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background: url('../img/icon-play.png') no-repeat
			background-size: contain
			width: 47px
			height: 47px
			z-index: 2
			transition: all .3s
			opacity: 0
		span
			height: 48px
			color: #fefefe
			font-family: Roboto
			font-size: 14px
			line-height: 24px
			transition: all .3s
			opacity: .7
	&:hover
		text-decoration: none
		.gallery_video--wrap
			&::before
				opacity: 1
			span
				opacity: 1

		
.gallery_desc
	padding: 24px 43px
	display: flex
	flex-direction: column
	justify-content: flex-end
	bottom: 24px
	width: 100%
	height: 100%
	h3
		font-size: 30px
		line-height: 1
		margin-bottom: 20px
	p
		line-height: 1.7
		font-family: Roboto
		font-size: 14px
		margin-bottom: 0
	a
		color: #fdf200
		font-family: Roboto
		font-size: 14px
		line-height: 24px
		margin-top: 58px
		&:after
			content: ""
			width: 16px
			height: 17px
			background: url('../img/link_arrow.png') no-repeat
			display: inline-block
			vertical-align: middle
			margin-left: 10px
.m_gallery--links
	margin-top: 33px
	display: flex
	justify-content: space-between
	padding: 0 10px
	a
		width: 49%
		max-width: 558px
		height: 85px
		border: 4px solid #fdf200
		color: #000000
		font-size: 24px
		font-weight: 700
		text-align: center
		display: block
		padding: 15px 0 18px
		line-height: 1.1
		&:hover
			background-color: #fdf200
			text-decoration: none
		span
			color: #5a5856;
			font-family: Roboto;
			font-weight: 400
			display: block
			font-size: 14px
			line-height: 1.4
.gallery_small
	width: 25%
.gallery-lg
	width: 50%


//ABOUT
.m_about--content
	margin: 0 0 57px
	border-bottom:
		width: 1px
		style: solid
		color: rgba(124,108,90,.5)
	
	.about_top
		position: relative
		max-width: 1079px
		width: 94%
		margin: 0 0 0 auto
		min-height: 493px
		border: 2px solid #7c6c5a
		padding: 69px 192px 50px 302px
		background-position: 95% 98%
		background-repeat: no-repeat
		p
			color: #000000
			font-family: Roboto
			font-size: 18px
			font-style: italic
			line-height: 1.33
			margin-bottom: 30px
		img.creator
			position: absolute
			width: 294px
			height: 430px
			top: 24px
			left: -93px
			box-shadow: 13px 8px 46px rgba(0, 0, 0, 0.35)
		.about_top--name
			margin-top: 82px
			&>p
				font-size: 30px
				line-height: 27.95px
				margin-bottom: 12px
				font-style: normal
			span
				display: inline-block
				text-align: center
				padding: 0 9px
				height: 24px
				background-color: #fae300
				font-size: 16px
				text-transform: uppercase
	.about_text
		margin-top: 56px
		p
			color: #000000
			font-family: Roboto
			font-size: 16px
			margin-bottom: 29px
		h3
			font-size: 22px
			margin-bottom: 20px
			line-height: 1
		ul
			list-style: none
			padding-left: 0
			li
				font-size: 14px
				line-height: 1.4
				margin-bottom: 15px
				padding-left: 30px
				background: url('../img/li-bg.png') no-repeat left


//ROW ICONS
.row_icons
	margin-bottom: 57px
	border-bottom:
		width: 1px
		style: solid
		color: rgba(124,108,90,.5)
	margin-right: 0
	margin-left: 0
	h3
		font-size: 22px
		line-height: 24px
		margin-bottom: 20px
	p
		font-family: Roboto
		font-weight: 400
		font-size: 14px
		margin-bottom: 18px
	&>div
		padding: 0

	.icons
		display: flex
		align-items: center
		flex-wrap: wrap
		margin-bottom: 35px
		.icons_img
			padding: 6px 6px
			width: 75px
			height: 69px
			img
				max-width: 100%
		.icons_title
			color: #000000
			font-family: Cambria
			font-size: 16px
			line-height: 24px
			text-transform: uppercase
			padding-left: 10px
			width: calc( 100% - 75px )
		.icons_desc
			margin-top: 17px
			opacity: 0.75
			color: #000000
			font-family: Roboto
			font-size: 14px
			line-height: 24px
			

//FOOTER
footer
	min-height: 340px
	background-color: #e6e6e6
	padding: 33px 0 22px
	.wrap
		background: transparent

	.copyright
		margin-top: 60px
		color: #888888
		font-family: Roboto
		font-size: 14px
		line-height: 1
		border-top: 1px solid rgba(124,108,90,.5)
		padding: 17px 0 22px
		p
			margin-bottom: 0
	.footer_menu
		.footer_menu--title
			font-size: 12px
			color: #888888
			font-family: Roboto
			margin-bottom: 12px
		ul
			list-style: none
			padding-left: 0
			li a
				color: #3e3a30
				font-size: 14px
				line-height: 30px
				text-transform: uppercase
	.footer_info
		display: flex
		justify-content: space-between
		.footer_info--part
			width: 50%
			p
				color: #888888
				font-family: Roboto
				font-size: 12px
			h3
				color: #3e3a30
				font-family: Cambria
				font-size: 14px
				line-height: 1
				margin-bottom: 17px

.header_top--logo, .header_top--toggler
	display: none


.inner_wrap
	padding-top: 180px

//CRUMBS
.crumbs
	margin-bottom: 48px
	ul
		list-style: none
		padding-left: 0
		margin-bottom: 0
		li
			display: inline-block
			line-height: 1
			& + li
				margin-left: 5px
			a
				color: #3880b8
				font-family: Roboto
				font-size: 14px
				line-height: 1.4
				letter-spacing: 0.14px
				&:hover
					text-decoration: underline
					color: #3880b8
				&:after
					content: "»"
					display: inline-block
					vertical-align: middle
					position: relative
					top: -2px
					margin-left: 5px
			span
				font-family: Roboto
				font-size: 14px
				color: #808080
				letter-spacing: 0.14px


//OBJECT
.object
	margin-bottom: 35px

.object_fastLink
	display: flex
	flex-wrap: wrap
	margin-bottom: 23px
	margin-right: -8px
	margin-left: -8px
	.object_fastLink--item
		margin-left: 8px
		margin-right: 8px
		margin-bottom: 10px
		img
			width: 39px
			height: 39px
		span
			opacity: 0.9
			color: #797979
			font-family: Roboto
			font-size: 13px
			letter-spacing: 0.14px
			display: inline-block
			vertical-align: middle
			margin-left: 4px
			text-decoration: underline
		// & + .object_fastLink--item
		// 	margin-left: 15px
		&:hover
			span
				text-decoration: none
	
.main_photo
	position: relative
	max-width: 754px
	.big_photo
		img
			max-width: 100%

.photo_sticker
	position: absolute
	left: 0
	top: 0
	z-index: 1
	width: 142px
	height: 148px

.more_photo
	display: flex
	justify-content: flex-end

	.more_photo--slider
		width: 172px
		margin-right: 96px
		padding-top: 44px
		padding-bottom: 44px
		margin-top: 20px
		.more_photo--item
			height: 115px
			margin: 6px 0
		.slick-arrow.slick-prev
			top: 0
			margin-top: 0
			left: 50%
			transform: translate(-50%)  rotate(-90deg)
			&:hover
				transform: translate(-50%) rotate(90deg)
		.slick-arrow.slick-next
			top: initial
			bottom: 0
			margin-top: 0
			left: 50%
			transform: translate(-50%)  rotate(90deg)
			&:hover
				transform: translate(-50%) rotate(-90deg)

//object review
.review_item
	display: flex
	flex-wrap: wrap
	padding: 12px
	border: 1px solid #fae300
	.review_photo
		width: 33.6607%
		padding-right: 26px
		img
			max-width: 100%
	.review_text
		width: 66.3393%
		padding-top: 44px
		color: #000000
		padding-right: 6%
		h3
			font-size: 24px
			margin-bottom: 15px
			font-weight: 400
		small
			font-size: 16px
			line-height: 1.5
			text-transform: uppercase
			margin-bottom: 25px
			display: block
		p
			opacity: 0.75
			color: #000000
			font-family: Roboto
			font-size: 14px
			line-height: 24px


//WORK INFO
.work_info
	margin-bottom: 35px
	margin-top: 64px
	padding-top: 32px
	border-top: 1px solid rgba(124,108,90,.5)
	border-bottom: 1px solid rgba(124,108,90,.5)
	.subtitle
		margin-top: 0
		margin-bottom: 12px
	.row_icons
		border-bottom: none
		margin-bottom: 0

.project_video
	margin-top: 35px
	.subtitle
		margin-bottom: 20px
	.video_list
		.slick-arrow
			background-color: rgba(255,255,255,.5)
			width: 64px
			height: 64px
			border-radius: 50%
			display: flex
			align-items: center
			background-position: center
			z-index: 4
			margin-top: -32px
			&.slick-prev
				left: 18px
			&.slick-next
				right: 18px

	.video_list--item
		max-width: 364px
		margin: 0 18px
		img
			max-width: 100%


.object_desc
	margin-top: 37px

//tabs
.tab_links
	padding-left: 0
	list-style: none
	margin-bottom: 0
	li
		display: inline-block

		a
			color: #000000
			text-decoration: none
			text-transform: uppercase
			letter-spacing: 0.14px
			font-size: 16px
			padding: 1.125em 1.375em
			line-height: 1
			display: block
			background: #e5e5e5
			border-top-right-radius: 8px
			border-top-left-radius: 8px
			&.active
				background-color: #fae300
.tabs_content
	border: 1px solid #e5e5e5
	background-color: #ffffff
	padding: 36px
	.tabs_item
		display: none
		&.active
			display: block
	.object_tabs--content
		display: flex
		justify-content: space-between

	.content_text
		max-width: 523px
		width: 51.62%
		h3
			color: #000000
			font-family: "Roboto"
			font-size: 16px
			letter-spacing: 0.16px
			display: block
			margin-bottom: 10px
			font-weight: 400
		

	.content_link
		width: 370px
		margin-right: 5.9230%
		img
			max-width: 100%
		p
			margin-top: 15px
			color: #000000
			font-family: Roboto
			font-size: 16px
			font-weight: 400
			line-height: 24px
			letter-spacing: 0.16px
			margin-bottom: 0
		a
			color: #3880b8
			font-size: 14px
			letter-spacing: 0.14px
			text-decoration: underline
			&:hover
				text-decoration: none
.object_charact--row
	margin-bottom: 10px
	display: flex
	justify-content: space-between
	position: relative
	&:after
		content: ""
		width: 100%
		position: absolute
		z-index: 0
		height: 1px
		border: 1px dashed #808080
		bottom: 4px
		opacity: .5
	span
		position: relative
		z-index: 1
		background: #fff
		font-size: 14px
		color: #808080
		font-family: Roboto
		padding: 0 2px
.slider_objectInfo
	.char_title
		font-size: 16px
		font-family: Roboto
		color: #000
		letter-spacing: 0.16px
		margin-bottom: 4px
	.object_charact--row
		margin-bottom: 3px
		&::after
			bottom: 6px
			
// steps build
.object_progress
	margin-top: 35px
	.progress_wrap
		
	.progress_item
		width: 100%
		display: flex
		flex-wrap: wrap
		&:last-child
			.progress_data
				padding-bottom: 0
		.progress_data
			width: calc( 100% - 122px )
			padding-left: 62px
			position: relative
			padding-bottom: 38px
			.progress_title
				font-size: 24px
				color: #000000
				.mobile_date
					display: none
				.step_name
					display: block
					margin-bottom: 15px
					line-height: 1
			.progress_desc
				color: #808080
				font-family: Roboto
				font-size: 14px
				font-weight: 400
				line-height: 24.02px
				letter-spacing: 0.14px
				margin-bottom: 12px
			.progress_img
				margin: 0 -12px
				display: flex
				flex-wrap: wrap
				a
					width: 20%
					display: inline-block
					padding: 12px
					img
						max-width: 100%
			&:before
				content: ""
				height: calc( 100% - 37px )
				display: block
				position: absolute
				left: 11px
				bottom: 7px
				width: 2px
				background: #000000
			&:after
				content: ""
				width: 24px
				height: 24px
				display: block
				position: absolute
				left: 0
				top: 0
				background: url('../img/progress_marker.png') no-repeat	

		.progress_month
			width: 122px
			span
				display: block
				color: #000000
				font-size: 24px
				line-height: 1
	

//SOCIAL FORM
.social_form
	margin-top: 35px
	border: 1px solid #000001
	display: flex
	align-items: center
	justify-content: space-between
	padding: 21px 38px 25px
	form
		width: 45%
		max-width: 452px
		input
			width: 329px
			height: 36px
			border-radius: 5px
			border: 1px solid #e5e5e5
			background-color: transparent
			padding: 0 12px
			margin-right: 25px
			display: inline-block
			vertical-align: middle
		.btn_link
			font-size: 12px
			border: 0
			height: 36px
			display: inline-block
			cursor: pointer

	.social_links
		span
			color: #000000
			font-family: Roboto
			letter-spacing: 0.16px
			font-size: 16px
			margin-right: 12px
		a
			margin: 0 4px
			img
				width: 36px
				height: 36px
.more_object
	.subtitle
		margin-bottom: 10px

.toTop
	width: 40px
	height: 40px
	display: block
	position: fixed
	bottom: 62px
	right: 25px
	z-index: 101
	background: url('../img/top.png') no-repeat
	cursor: pointer


@media (max-width: 1600px)
	header
		nav.top_nav
			margin-left: auto
			margin-right: auto
		&.inner
			.header_top
				.header_top--logo
					background: url('../img/m_logo-b.png') no-repeat
		.top_menu--links
			flex-direction: column
			text-align: right
			.top_favorite
				margin-left: 0
		.header_top
			align-items: center
			padding-top: 0
			padding-bottom: 0
			justify-content: space-between
			.header_top--logo
				display: block
				height: 62px
				width: 108px
				background: url('../img/m_logo.png') no-repeat
			.header_top--phone
				text-align: right
	.left_menu
		transform: translateX(-100%)
		overflow: auto
		transition: all .3s
		padding: 20px 35px
		&.active
			transform: translateX(0)
		.menu_logo
			margin-bottom: 71px
			height: 68px
			img
				width: auto
				height: 68px
				
		.toggler_close
			display: block
		.menu_box--links
			display: block
			margin-top: 49px
			.menu_box--list
				li a
					text-transform: none
		.toggler_close
			position: absolute
			display: block
			left: 20px
			top: 29px
	.header_top,.wrap, .slider .slider_content, .inner_wrap
		margin-left: auto
		margin-right: auto
	header .header_top
		margin-left: auto
		margin-right: auto
	.top_menu
		nav
			display: none
	
	.header_top--toggler
		display: block
	
//Prices

.prices
	.title
		margin-bottom: 5px

@import "style-alex.css"

@media (max-width: 1440px)
	.left_menu
		.menu_box--list
			li
				margin-bottom: 15px

@import "media" // Always at the end

