section.actions {
    margin-top: 153px;
}

.ui-widget{
    font-family: Roboto !important;
    
}
.ui-helper-reset{
    line-height: 24px !important;
}
.breadcrumbs ul li a {
    color: #3880b8;
    letter-spacing: 0.14px;
    font-size: 14px;
    font-weight: 400;
}
.breadcrumbs ul li {
    color: #808080;
    letter-spacing: 0.14px;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    margin-right: 5px;
}
.breadcrumbs ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.breadcrumbs {
    margin-bottom: 16px;
}
.section-title {
    color: #020202;
    
    font-size: 36px;
    font-weight: 400;
}
.match1 {
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}
.how-match ul li a {
    color: #3880b8;
    font-size: 18px;
    letter-spacing: 0.18px;
}
.how-match ul li {
    color: #000000;
    font-size: 18px;
    letter-spacing: 0.18px;
}
.how-match ul li {
    color: #000000;
    font-size: 18px;
    letter-spacing: 0.18px;
    list-style-type: none;
    margin-right: 10px;
}
.how-match ul {
    padding: 0;
    margin: 0;
    display: flex;
}
.how-match {
    display: flex;
    align-items: flex-end;
    margin-top: 16px;
}

.act-block-title {
    text-shadow: 0 1px 3px #000001;
    color: #ffffff;
    
    font-size: 30px;
    font-weight: 400;
    padding: 0px 8px;
    margin-bottom: 6px;
}
.act-block-txt {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 8px;
    margin-bottom: 6px;
}
.act-block-link {
    padding: 0px 8px;
    margin-bottom: 10px;
}

.act-block {
    position: relative;
    width: 49%;
    overflow: hidden;
    min-height: 382px;
    margin-bottom: 23px;
    border-radius: 4px;
}
.block-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.act-block-img img {
    width: 100%;
}

.act-block-img {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.act-block-act {
    position: absolute;
    z-index: 2;
    left: -1px;
}
.act-block-bottom {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    background: url(../img/back.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.act-block-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    color: #fff;
    background: #000;
    padding: 8px 13px;
    border-radius: 0px 4px 4px 0px;
}
.act-block-link a {
    text-decoration: underline;
}
.act-block-link a:hover {
    text-decoration: none;
}
header.inner {
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.15);
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
    background-color: #fff;
    height: 153px;
    color: #000;
    z-index: 5;
}
.act-block-img img {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.block-pagination ul {
    padding: 0;
    margin: 0;
}
.block-pagination ul li {
    list-style-type: none;
    color: #585654;
    border: 1px solid #cbcbc7;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
li.l-r-butt {
    border: none !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
}
.block-pagination ul {
    display: flex;
    flex-wrap: wrap;
}

.block-pagination ul li a {
    color: #585654;
    font-size: 14px;
}
img.l-b {
    margin-right: 5px;
}
img.r-b {
    margin-left: 5px;
}
li.pag-active {
    background-color: #585654;
    opacity: 0.2;
    color: #fff !important;
}
.block-pagination ul li a:hover {
    text-decoration: none;
}

.sub-title {
    font-family: "Cambria - Bold";
    font-size: 22px;
    font-weight: 700;
}
.sub-txt {
    
    line-height: 24px;
    font-size: 16px;
}
.subscribe {
    border: 1px solid #000001;
    padding: 18px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
}
.sub-left {
    width: 50%;
}
.sub-right {
    width: 50%;
}
.sub-right input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 36px;
    padding-left: 12px;
    width: 75%;
}
.sub-right form {
    display: flex;
    justify-content: space-between;
}
button.btn_link img {
    margin-right: 5px;
}
button.btn_link {
    border: none;
    
    font-size: 12px;
}

.bc-arrow {
    background: url(../img/arrow-down.png) no-repeat;
    width: 25px;
    height: 14px;
}
span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
    display: none;
}
span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
    display: none;
}

.block-collapse2 .ui-accordion .ui-state-active {
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 12px 0 0 0;
    padding: .5em .5em .5em .7em;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    font-size: 30px;
    font-weight: 400;
    border-radius: 5px 5px 0px 0px;
    background-color: #dbdbdb;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
     outline: none;
}

.block-collapse1 .ui-accordion .ui-accordion-content {
    padding: 15px 0px;
    border-top: 0;
    overflow: auto;
    height: auto !important;
}

.block-collapse2 .ui-accordion .ui-accordion-header {
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 12px 0 0 0;
    padding: .5em .5em .5em .7em;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    font-size: 30px;
    font-weight: 400;
    border-radius: 5px 5px 0px 0px;
    background-color: #dbdbdb;
    border: none;
    outline: none;
    border-bottom: 1px solid #bab2a8;
}

.block-collapse .ui-accordion .ui-accordion-header {
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 12px 0 0 0;
    padding: .5em .5em .5em .7em;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    
    font-size: 30px;
    font-weight: 400;
    border-radius: 5px 5px 0px 0px;
    background-color: #fae300;
    border: none;
}

.block-collapse .ui-accordion .ui-state-active {
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 12px 0 0 0;
    padding: .5em .5em .5em .7em;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    
    font-size: 30px;
    font-weight: 400;
    border-radius: 5px 5px 0px 0px;
    background-color: transparent;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.block-collapse .ui-accordion .ui-state-active .bc-arrow {
   background: url(../img/arrow-up.png) no-repeat;
    width: 25px;
    height: 14px;
}

.controw1 {
    display: flex;
}
.controw1-left {
    width: 50%;
}
.controw1-right {
    width: 50%;
}
span.controw1-t1 {
    color: #808080;
    font-size: 14px;
    letter-spacing: 0.14px;
}
span.controw1-t2 {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
span.controw1-t2 a {
    color: #3880b8;
    text-decoration: underline;
    font-weight: normal;
}
span.controw1-t2 a:hover {
    text-decoration: none;
}

span.controw1-t4 {
    color: #808080;
    font-size: 14px;
    letter-spacing: 0.14px;
}
span.controw1-t3 {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.controw1-block {
    margin-bottom: 30px;
}

.cont-map-link a {
    color: #3880b8;
    text-decoration: underline;
    font-weight: normal;
}
.cont-map-link a:hover {
    text-decoration: none;
}
.cont-map-link {
    margin-bottom: 20px;
}
.obratka {
    border: 1px solid #000001;
    padding: 18px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
}
.obr-left {
    width: 50%;
}
.obr-right {
    width: 50%;
}
.obr-title {
    font-family: "Cambria - Bold";
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.obr-left input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 36px;
    padding-left: 12px;
    width: 75%;
    margin-right: 15px;
}
.obr-left form {
    display: flex;
}
.obr-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line1 {
    height: 1px;
    background-color: #bdc4d4;
    opacity: 0.25;
    margin-bottom: 40px;
}
.row2-title {
    color: #020202;
    
    font-size: 24px;
    font-weight: 400;
}
.line2 {
    height: 1px;
    background-color: #bdc4d4;
    opacity: 0.25;
    margin: 20px 0px;
}
.contacts-row2 {
    display: flex;
    justify-content: space-between;
}
.contacts-row2-left {
    width: 48%;
}
.contacts-row2-right {
    width: 48%;
}

.contacts-row2-left img {
    width: 100%;
}

.block-collapse {
    margin-bottom: 40px;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
    height: auto !important;
}


.form-search {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin: 25px 0;
    padding: 15px;
}
.form-search input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    width: 90%;
    padding: 6px;
    margin-right: 20px;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.form-search form {
    display: flex;
}
.form-search button {
    width: 10%;
}
.form-search-title {
    color: #020202;
    
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.res-number {
    color: #000000;
    
    font-size: 24px;
    font-weight: 400;
    margin-right: 15px;
}
.res-link a {
    color: #3880b8;
    
    font-size: 20px;
}
.res-txt {
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
}
.res-link {
    margin-bottom: 5px;
}
.result {
    display: flex;
    margin-bottom: 30px;
}
.result-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.result-pagination ul li {
    list-style-type: none;
    color: #000000;
    
    font-size: 24px;
    font-weight: 400;
    border: 2px solid transparent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-right: 5px;
}
.result-pagination ul li a {
    color: #000000;
    
    font-size: 24px;
    font-weight: 400;
}
li.current {
    border: 2px solid #e5e5e5 !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.result-pagination ul li:hover {
    border: 2px solid #fae300;
}
.result-pagination ul li a:hover {
    text-decoration: none;
}
li.no-active {
    opacity: 0.2;
}
li.no-active:hover {
    border: none !important;
}
li.active:hover {
    border: none !important;
}
.prices-why .row_icons {
    margin-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    margin-right: 0;
    margin-left: 0;
}
.prices-why {
    margin-top: 40px;
}

.bc-arrow1 {
    background: url(../img/str-cdown.png) no-repeat;
    width: 16px;
    height: 9px;
}

.block-collapse1 .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: 15px 0;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    border-bottom: 4px solid #fae300;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    outline: none !important;
}

.block-collapse1 .ui-accordion .ui-accordion-header .ui-accordion-header-active .ui-state-active {
    color: #000000 !important;
}

.block-collapse1 .ui-accordion .ui-accordion-header .ui-accordion-header-active .ui-state-active .bc-arrow1 {
   background: url(../img/str-cup.png) no-repeat !important;
    
}

.block-collapse1 .bc-title {
    color: #000;
    line-height: 1;
}
.collapse1-left h2 {
    font-size: 16px;
    margin-bottom: 0;
}
.collapse1-left p {
    font-size: 14px;
    color: #808080;
    line-height: 24px;
}
.collapse1-right {
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    width: 20%;
    text-align: right;
}
.collapse1-left {
    width: 70%;
}
.collapse1-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bdc4d4;
    margin-bottom: 15px;
    padding: 0 0 15px 15px;
}


.block-collapse1 .ui-widget-content {
    border: none;
    background: transparent;
    color: #333333;
}

.gallery-row {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    align-items: center;
}
.gal-row-left {
    width: 50%;
    position: relative;
}
.gal-row-right {
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
}
.block-pagination {
    margin-bottom: 30px;
}
img.gal-main {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}
.gal-block {
    position: absolute;
    top: 0;
}
.gal-title a {
    font-size: 24px;
    font-weight: 400;
    color: #3880bf;
}
.gal-title {
    margin-bottom: 5px;
}
.desk-line {
    height: 1px;
    background-color: #bdc4d4;
    opacity: 0.25;
    margin: 25px 0px;
}
.gal-desk {
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.desk-bottom {
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.desk-title {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-family: Roboto;
    font-weight: 600;
    margin-bottom: 5px;
}


.filt-title {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    line-height: 14.4px;
    font-weight: 600;
    margin-bottom: 5px;
}

.filter-block select {
    border-radius: 4px;
    border: 1px solid #c6c0b8;
    padding: 5px;
    width: 100%;
    color: #808080;
    font-size: 14px;
}
.filter-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filter-block {
    width: 18%;
}

.filter-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.filter-left .filter-block {
    width: 48%;
}

.filter-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.filter-right button.btn_link {
    padding: 10px;
    margin-left: 24px;
    font-weight: 600;
}
.filter-right a {
    color: #010101;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.14px;
}
.gal-result {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.gal-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.gal-topline .how-match {
    margin-top: 0;
}

.vibor-line a {
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    margin-right: 10px;
}
.vibor-line {
    margin-top: 10px;
}









@media screen and (max-width: 1200px) {
.block-collapse .ui-accordion .ui-accordion-header {
   
    font-size: 24px;
    
}
.desk-bottom {
    flex-direction: column;
}

}

@media screen and (max-width: 992px) {
	.act-block {
   width: 100%;
}
.subscribe {
    flex-direction: column;
}

.sub-left {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.sub-right {
    width: 100%;
}

.block-collapse .ui-accordion .ui-state-active .bc-arrow {
    background: url(../img/arrow-up.png) no-repeat;
    width: 35px;
    height: 14px;
    display: flex;
}
.controw1 {
    flex-direction: column;
}
.controw1-left {
    width: 100%;
}
.controw1-right {
    width: 100%;
}
.obratka {
    flex-direction: column;
}
.obr-left {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.obr-right {
    flex-direction: column;
}
.obr-left input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 36px;
    padding-left: 12px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
}
.obr-right {
    width: 100%;
}
.contacts-row2 {
    flex-direction: column;
}
.contacts-row2-left {
    width: 100%;
}
.contacts-row2-right {
    width: 100%;
}
.obr-txt1 {
    text-align: center;
}
.form-search form {
    display: flex;
    flex-direction: column;
}
.form-search input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    width: 100%;
    padding: 6px;
    margin-right: 0;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.form-search button {
    width: 190px;
    margin: 0 auto;
    padding: 10px;
}
.breadcrumbs ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.gallery-row {
    flex-direction: column;
}
.gal-row-left {
    width: 100%;
    position: relative;
}
img.gal-main {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.gal-row-right {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}


}

@media screen and (max-width: 768px) {
	.act-block-title {
    text-shadow: 0 1px 3px #000001;
    color: #ffffff;
    
    font-size: 24px;
    font-weight: 400;
    padding: 0px 8px;
    margin-bottom: 6px;
    line-height: 30px;
}
.act-block-txt {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 8px;
    margin-bottom: 6px;
}
form {
    flex-direction: column;
}
.sub-right input {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 36px;
    padding-left: 12px;
    width: 100%;
    margin-bottom: 15px;
}
button.btn_link {
    border: none;
    
    font-size: 12px;
    height: 36px;
    width: 175px;
    margin: 0 auto;
}
.bc-title {
    width: 80%;
}

.filter-row {
    flex-direction: column;
}

.filter-block {
    width: 100%;
    margin-bottom: 15px;
}
.filter-left {
    flex-direction: column;
    width: 100%;
}
.filter-left .filter-block {
    width: 100%;
}
.filter-right {
    width: 100%;
    justify-content: center;
}
.gal-topline {
    flex-direction: column;
}

}

@media screen and (max-width: 600px) {
	.ui-accordion .ui-accordion-content {
    padding: 1em 10px;
    border-top: 0;
    overflow: auto;
}
}